.containerbody{
    display: flex;
    margin-top:100px;
    justify-content: space-between;
    justify-content: space-around;
    height:400px;
    width: 100%;
    /* border: solid red 1px; */
}
.containerbody h2{
    margin-top:170px;
    color:white;
    font-family: roboto;
    font-size: 50px;
}
.techcontainer{
    display: flex;
    flex-wrap: wrap;
   /*  border: solid red 1px; */
    width: 500px;
    height:400px;
    animation-name: rotation-inv;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: linear;
}
.tech{
    height: 120px;
    margin-left: 100px;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: linear;
    
    
}
.tech:hover{
    transition: 1s;
    height: 180px;
    cursor: pointer;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
    
}
@keyframes rotation-inv {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);

    }
    
}